.product {
  padding-left: 14px;
  padding-right: 14px;

  width: 200px;

  border: 1px solid $cardBorder;
  border-radius: 5px;
  background-color: #fff;

  &__image {
    margin: 30px auto 41px 5px;

    width: 160px;
    height: 134px;

    transition: transform 1s;

    &:hover {
      box-sizing: content-box;
      padding: 10px 0 0;
      margin: 13px auto 42px 1px;
      transform: scale(1.2);

      border: 3px solid $cardBorder;
      border-radius: 4px;
    }
  }

  &__description {
    margin-bottom: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__code {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__reviews {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
  &__cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__cost-text {
    align-self: flex-end;
    margin-bottom: 1px;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }

  &__cost-digit {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
  }
}
